@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 100%;
}

.container .capa .capa__elementoImagem {
  padding: 2.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .capa .capa__elementoImagem .elementoImagem__esquerdo {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 300px;
          flex: 1 1 300px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container .capa .capa__elementoImagem .elementoImagem__esquerdo .img__capa {
  width: 100%;
}

.container .capa .capa__elementoImagem .elementoImagem__esquerdo .img__capa img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
}

.container .capa .capa__elementoImagem .elementoImagem__direito {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 300px;
          flex: 1 1 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container .capa .capa__elementoImagem .elementoImagem__direito .texto__direito__capa {
  width: 80%;
  text-align: right;
}

.container .capa .capa__elementoImagem .elementoImagem__direito .texto__direito__capa span {
  font-size: 7rem;
  font-weight: 600;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.container .capa .capa__elementoImagem > div {
  height: 85vh;
}

.container .capa .capa__elementoTexto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2.5em;
}

.container .capa .capa__elementoTexto .elementoTexto__textos {
  text-align: center;
  max-width: 80%;
}

.container .capa .capa__elementoTexto .elementoTexto__textos .colorGreen {
  color: #40661a;
}

.container .capa .capa__elementoTexto .elementoTexto__textos h1 {
  font-size: 7rem;
  font-weight: 600;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.container .sobre {
  padding: 2.5em;
  background-color: #1c140d;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container .sobre .sobre__textos {
  color: white;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 350px;
          flex: 1 1 350px;
}

.container .sobre .sobre__textos .title__sobre h1 {
  padding-bottom: 2em;
  font-weight: 600;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  font-size: 2.8rem;
}

.container .sobre .sobre__textos .text__sobre {
  padding-right: 1em;
}

.container .sobre .sobre__textos .text__sobre span {
  padding-bottom: 1em;
}

.container .sobre .sobre__img {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 350px;
          flex: 1 1 350px;
}

.container .sobre .sobre__img .img__sobre {
  overflow: hidden;
  margin-top: 15px;
}

.container .sobre .sobre__img .img__sobre img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
}

.container .produtos {
  padding: 2.5em;
}

.container .produtos .text__produtos {
  padding-bottom: 1em;
  text-align: center;
}

.container .produtos .text__produtos h1 {
  font-weight: 600;
  font-size: 5rem;
  color: #1c140d;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.container .produtos .cards__produtos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container .produtos .cards__produtos .card__product {
  padding: 0.5em;
  border-radius: 15px;
  margin: 0.6em;
  background-color: #fcf5ec;
  height: auto;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 400px;
          flex: 0 1 400px;
  -webkit-box-shadow: -2px 13px 12px -15px rgba(0, 0, 0, 0.75);
  box-shadow: -2px 13px 12px -15px rgba(0, 0, 0, 0.75);
}

.container .produtos .cards__produtos .card__product .img__card {
  max-width: 100%;
  height: auto;
  overflow: hidden;
}

.container .produtos .cards__produtos .card__product .img__card img {
  border-radius: 15px;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
}

.container .produtos .cards__produtos .card__product .text__card {
  margin: 0.3em 0;
  text-align: center;
}

.container .produtos .cards__produtos .card__product .btn__card {
  border-radius: 15px;
  width: 100%;
  padding: 0.6em;
  border: 1px solid;
  text-decoration: none;
  background-color: #523b28;
  color: white;
  text-align: center;
  cursor: pointer;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.container .produtos .cards__produtos .card__product .btn__card:hover {
  background-color: #725339;
}

@media screen and (max-width: 1300px) {
  .texto__direito__capa span {
    font-size: 5em !important;
  }
  .elementoTexto__textos h1 {
    font-size: 5em !important;
  }
}

@media screen and (max-width: 1000px) {
  .texto__direito__capa {
    text-align: right;
  }
  .texto__direito__capa span {
    font-size: 4em !important;
  }
  .elementoTexto__textos h1 {
    font-size: 4em !important;
  }
  .sobre__textos h1 {
    padding-bottom: 0.5em !important;
  }
}

@media screen and (max-width: 738px) {
  .texto__direito__capa {
    text-align: right;
  }
  .texto__direito__capa span {
    font-size: 3em !important;
  }
  .elementoTexto__textos h1 {
    font-size: 3em !important;
  }
  .text__sobre {
    padding-right: 0 !important;
    text-align: justify;
  }
}

@media screen and (max-width: 677px) {
  .capa__elementoImagem > div {
    height: auto;
  }
  .elementoImagem__esquerdo {
    height: auto !important;
  }
  .elementoImagem__direito {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important;
    height: auto !important;
  }
}

@media screen and (max-width: 430px) {
  .texto__direito__capa span {
    font-size: 2em !important;
  }
  .elementoTexto__textos h1 {
    font-size: 2em !important;
  }
  .text__produtos h1 {
    font-size: 2rem !important;
  }
}
/*# sourceMappingURL=style.css.map */